# Ignore system files and directories
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
NTUSER.DAT*
ntuser.ini
Obsidian/
sankofa-terminal/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VS Code settings
.vscode/
*.code-workspace

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.tmp
*.log
*.swp
*.bak

# Ignore environment files
.env
.venv/